.Peliculas{
    overflow: scroll;
    padding-left: 30px;
  width: 100%;
  position: relative;
}

.Peliculas__container{
    
    white-space: nowrap;
    padding-bottom: 10px;
}

.Peliculas-item {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 250px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
   
  }

.Peliculas-item__img {
    width: 200px;
    height: 250px;
  }
.Costos{

    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    
}

.Costos-Casa{
    padding-left: 20px;
    width: 350px;
    height: 250px;
    vertical-align: top;
    display: inline-block;
    background-color: cyan;
    
}
.Costos-Cine{
    padding-left: 20px;
    width: 350px;
    height: 250px;
    vertical-align: top;
    display: inline-block;
    background-color: darksalmon;
    
}

.Costos__Text{
   
    
}

@media only screen and (max-width: 600px) {
    .Costos{
        align-items: flex-start;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}